/* Estilos Gerais */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}


/* NAVBAR */

.header {
    width: 100%;
    height: 100px;
}

.navbar {
    background-color: #222;
    width: 100%;
    height: 100%;
}

.navbar-logo {
    width: 90px;
}

.logo {
    width: 80px;
}

.navbar-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 6%;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 25px;
}

.navbar-item {
    color: #ffff;
    text-decoration: none;
}


/* FORJA APRESENTACAO */

.apresentacao-forja {
    width: 100%;
    height: 500px;
    background-image: url("../imgs/forja/background-apresentacao-forja.png");
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.quero-conhecer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.apresentacao-forja-titulo {
    color: #ffff;
    font-size: 70px;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'Bebas Neue', sans-serif;
}

.apresentacao-forja-texto {
    color: #ffff;
    font-size: 18px;
}

.apresentacao-forja-botao {
    width: 10rem;
    padding: 8px;
    color: #ffff;
    background-color: rgb(197, 27, 27);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.apresentacao-imagem {
    width: 250px;
}

.logo-forja {
    width: 300px;
}

/* ESCOLA FORJA */

.apresentacao-escola-forja {
    width: 100%;
    height: 720px;
    background-image: url("../imgs/forja/background-escola-forja.png");
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4rem;
    gap: 40px;
}

.apresentacao-escola-titulo {
    color: #ffff;
    font-weight: 400;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
}

.apresentacao-escola-texto {
    color: #ffff;
    font-size: 18px;
    text-align: center;
}

.escola-cards-forja {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
    gap: 25px;
}

.escola-card {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #222;
    background-color: #222;
    color: #ffff;
    text-align: center;
    gap: 7px;
    padding-bottom: 7px;
}

.escola-card-imagem{
    flex-shrink: 1;
    max-width: 380px;
}

.escola-card-subtitulo {
    font-weight: 400;
}

.escola-card-texto {
    font-weight: 200;
}


/* RESPONSIVIDADE */

/* TABLET */

@media (max-width: 1024px) {

    .apresentacao-forja {
        flex-direction: column;
        height: auto;
        padding: 4rem 2rem;
        text-align: center;
    }

    .quero-conhecer {
        align-items: center;
    }

    .apresentacao-imagem {
        width: auto;
    }

    .logo-forja {
        width: 220px;
    }

    .escola-cards-forja {
        flex-wrap: wrap;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .escola-card {
        width: 300px;
    }

    .escola-card-imagem{
        width: 100%;
    }
}

/* CELULAR */

@media (max-width: 768px) {

    .navbar-container {
        flex-direction: column;
        gap: 10px;
        height: auto;
        padding: 1rem;
    }

    .navbar-menu {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .apresentacao-forja-titulo {
        font-size: 50px;
    }

    .apresentacao-forja-texto {
        font-size: 16px;
    }

    .logo-forja {
        width: 180px;
    }

    .apresentacao-escola-forja {
        height: auto;
        padding: 3rem 1.5rem;
    }

    .apresentacao-escola-titulo {
        font-size: 32px;
        text-align: center;
    }

    .apresentacao-escola-texto {
        font-size: 16px;
        padding: 0 1rem;
    }

    .escola-cards-forja {
        flex-direction: column;
        padding: 0;
    }

    .escola-card {
        width: 100%;
        max-width: 350px;
    }

    .escola-card-imagem{
        width: 100%;
        max-width: 350px;
    }
}