/* Estilos Gerais */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}


/* NAVBAR */

.header {
    width: 100%;
    height: 100px;
}

.navbar {
    background-color: #222;
    width: 100%;
    height: 100%;
}

.navbar-logo {
    width: 90px;
}

.logo {
    width: 80px;
}

.navbar-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 25px;
}

.navbar-item {
    color: #ffff;
    text-decoration: none;
}


/* FORJA APRESENTACAO */

.apresentacao-forja {
    width: 100%;
    height: 500px;
    background-image: url("../imgs/background-apresentacao-forja.png");
}

.quero-conhecer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 6%;
    gap: 15px;
}

.apresentacao-forja-titulo {
    color: #ffff;
    font-size: 54px;
    font-family: 'Bebas Neue', sans-serif;
}

.apresentacao-forja-texto {
    color: #ffff;
    font-size: 18px;
}

.apresentacao-forja-botao {
    width: 10rem;
    padding: 8px;
    color: #ffff;
    background-color: red;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}