body{
    background-image: url("../imgs/forja/background-apresentacao-forja.png");
    font-family: 'Montserrat', sans-serif;
}

h1{
    color: #fff;
    text-align: center;
}

.container{
    padding: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-botao{
    padding: 10px;
    color: #fff;
    font-size: 20px;
    background-color: red;
    border: 2px solid red;
    border-radius: 6px;
    text-decoration: none;
}

.container-botao:hover{
    background-color: rgb(182, 39, 39);
}